---
import { Image } from 'astro:assets'
import jolitaLogo from '../assets/jolita_logo.png'
import contactData from '../data/contactData'
import { Icon } from 'astro-icon' // Astro component for rendering icons from various icon packs;
const currentYear = new Date().getFullYear()
---

<div class="container mx-auto my-10 flex flex-col items-center justify-between text-sm px-6">
  <!-- Horizontal Line with Social Icons -->
  <div class="flex items-center justify-center w-full relative my-6">
    <!-- Left Border Line -->
    <div class="flex-grow border-t border-gray-500"></div>
    
    <!-- Social Media Icons in the Center -->
    <div class="flex gap-x-6 justify-center px-4">
      <!-- Facebook Icon -->
	  <a
	  href=`${contactData.facebook}`
	  aria-label="Contact me on Facebook"
	  target="_blank"
	  class="flex h-[36px] w-[36px] items-center justify-center rounded-full bg-brightPink"
  	>
	  <Icon name="ri:facebook-fill" width="36px" class="text-black" />
  	</a>
      
      <!-- Instagram Icon -->
      <a
        href={`${contactData.instagram}`}
        aria-label="Contact me on Instagram"
        target="_blank"
        class="flex h-[36px] w-[36px] items-center justify-center rounded-full bg-brightPink"
      >
        <Icon name="ri:instagram-line" width="32px" class="text-black" />  
      </a>
      
      <!-- LinkedIn -->
      <a
        href={`${contactData.linkedin}`}
        aria-label="Contact me on LinkedIn"
        target="_blank"
        class="flex h-[36px] w-[36px] items-center justify-center rounded-full bg-brightPink"
      >
        <Icon name="ri:linkedin-fill" width="32px" class="text-black" /> 
      
      <!-- Phone -->
      <a
        href={`tel:${contactData.phoneValue}`}
        aria-label="Call me"
        class="flex h-[36px] w-[36px] items-center justify-center rounded-full bg-brightPink"
      >
        <Icon name="ri:phone-fill" width="28px" class="text-black" /> 
      </a>
    </div>

    <!-- Right Border Line -->
    <div class="flex-grow border-t border-gray-500"></div>
  </div>

  <!-- Footer Logo Section -->
  <a href="/JolitaPhotographyWeb/" class="my-6">
    <!-- Dynamic Logo with specified dimensions -->
    <Image src={jolitaLogo} alt="Logo" width={200} height={80} />
  </a>

  <!-- Footer Text Section -->
  <div class="text-center">
    <!-- Dynamic year -->
    <p>JOLITA BUDRIENE {currentYear}© All rights reserved</p>
    <p>Thank you</p>
  </div>

  <!-- Footer Links Section -->
  <ul class="flex flex-wrap justify-center gap-3 md:gap-6 mt-4 md:mt-6 text-xs md:text-sm">
    <!-- Footer Links -->
    <li>
      <a href="/JolitaPhotographyWeb/#about" aria-label="About me" class="hover:text-brightPink">
        ABOUT_ME
      </a>
    </li>
    <li>
      <a href="/JolitaPhotographyWeb/#formats-photoshoots" aria-label="Gallery" class="hover:text-brightPink">
        GALLERY
      </a>
    </li>
    <li>
      <a href="/JolitaPhotographyWeb/#contacts" aria-label="Contacts" class="hover:text-brightPink">
        CONTACTS
      </a>
    </li>
	<li>
	  <a href="/JolitaPhotographyWeb/#reviews" aria-label="Reviews and  feedback" class="hover:text-brightPink">
		FEEDBACK
	  </a>
	</li>
    <li>
      <a href="/JolitaPhotographyWeb/#book-meeting" aria-label="Book a Booking" class="hover:text-brightPink">
        BOOKING
      </a>
    </li>
  </ul>
</div>

<!-- Link to custom navigation JavaScript -->
<script>
  import '../js/nav.js'
</script>