---
import { Image } from 'astro:assets'
import jolitaLogo from '../assets/Jolita_logo.png'
import contactData from '../data/contactData'
const currentYear = new Date().getFullYear()
---

<div
	class="container mx-auto mb-10 mt-20 flex flex-col items-start justify-between gap-4 px-6 text-sm md:flex-row"
>
	<div class="flex flex-row gap-4 sm:gap-12 md:gap-20 lg:gap-32">
		<div class="flex flex-col gap-y-3">
			<h6 class="text-base font-semibold">JOLITA BUDRIENE</h6>
			<ul class="flex flex-col gap-y-2">
				<li>{currentYear}&copy; All rights reserved</li>
				<li>
					Thank you <Image
						src={jolitaLogo}
						alt="Jolita Logo"
						width={60}
						height={60}
						class="ml-2 inline-block"
					/>
				</li>
			</ul>
		</div>
		<div class="flex flex-col gap-y-3">
			<ul class="flex flex-col gap-y-2">
				<li>
					<a href="/JolitaPhotographyWeb/#about" aria-label="Read more about photograph">ABOUT ME</a
					>
				</li>
				<li>
					<a
						href="/JolitaPhotographyWeb/#formats-photoshoots"
						aria-label="Know more about different formats of photoshoots">GALLERY</a
					>
				</li>
				<li>
					<a href="/JolitaPhotographyWeb/#reviews" aria-label="See reviews from clients">FEEDBACK</a
					>
				</li>
				<li>
					<a href="/JolitaPhotographyWeb/#contacts" aria-label="How to contact with photograph"
						>CONTACTS</a
					>
				</li>
			</ul>
		</div>
	</div>
	<div class="flex flex-row gap-10 md:gap-10 lg:gap-32">
		<div class="flex flex-col gap-y-3">
			<ul class="flex flex-col gap-y-2">
				<li>
					<a href=`${contactData.instagram}` target="_blank" aria-label="Open my page Instagram"
						>INSTAGRAM</a
					>
				</li>
				<li>
					<a href=`${contactData.facebook}` target="_blank" aria-label="Open my page Facebook"
						>FACEBOOK</a
					>
				</li>
				<li>
					<a href=`${contactData.linkedin}` target="_blank" aria-label="Open my page Facebook"
						>LINKEDIN</a
					>
				</li>
				<li>
					<a href=`${contactData.whatsapp}` target="_blank" aria-label="Contact me in Whatsapp"
						>WHATSAPP</a
					>
				</li>
			</ul>
		</div>

		<div class="flex flex-col gap-y-3">
			<ul class="flex flex-col gap-y-2">
				<li>
					<a href=`tel:${contactData.phoneValue}` aria-label="Call me">{contactData.phoneText}</a>
				</li>
				<li><a href=`email:${contactData.email}` aria-label="Email me">{contactData.email}</a></li>
			</ul>
		</div>
		<!-- Footer Logo -->
		<a href="/JolitaPhotographyWeb/" class="flex flex-col gap-10 md:gap-10 lg:gap-32">
			<Image src="/JolitaPhotographyWeb/Jolita_logo_W.svg" alt="Logo" width={300} height={100} />
		</a>
	</div>
</div>
