---
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

interface Props {
	title?: string
	description?: string
	image?: string
	url?: string
	data?: {}

	robots?: boolean
}

const {
	title = "Jolita's Photography",
	description = "Jolita's portfolio, shows personal pictures and professional photography services. Also can teach kids photography or Lithuania language",
	image = "/default-image.jpg", // Default image for social sharing
	url = Astro.url.pathname,
	robots = true
} = Astro.props as Props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/JolitaPhotographyWeb//favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>

		<!-- SEO Meta Tags -->
		{robots ? <meta name="robots" content="index, follow" /> : <meta name="robots" content="noindex, nofollow" />}
		<meta name="keywords" content="Photography, Portfolio, Lithuanian teache, Jolita, Photoshoot, Kid Photography, Child Phtography, Professional Photography" />
		<meta name="author" content="Jolita Photography" />

				<!-- Open Graph Meta Tags -->
				<meta property="og:type" content="website" />
				<meta property="og:title" content={title} />
				<meta property="og:description" content={description} />
				<meta property="og:image" content={image} />
				<meta property="og:url" content={url} />
				<meta property="og:site_name" content="Jolita's Photography" />

		
				<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bona+Nova&family=Montserrat&family=Permanent+Marker&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-darkGray font-sans text-veryLightGray">
		<Nav />
		<main>
			<slot>Default Text</slot>
		</main>
		<Footer />
	</body>
</html>
